# Konfigurasi WhatsApp Status Reader

# Mengaktifkan/nonaktifkan reaksi status (true untuk aktif, false untuk mati)
REACTION_ENABLED=false

# Emoji yang digunakan untuk reaksi status (contoh: ❤️, 😂, 😮, 😢, 🙏, 👏)
REACTION_EMOJI=❤️
