{
  "botName": "whatsapp-status-reader",
  "ownerName": "IrwanX",
  "owner": [
    "628882611841"
  ],
  "sourceCode": "https://github.com/irwanx/whatsapp-status-reader",
  "prefix": "^[°•π÷×¶∆£¢€¥®™+✓_=|/~!?@#%^&.©^]",
  "ephemeral": 86400,
  "autoReadStory": true,
  "autoReactStory": true,
  "reactEmote": "👍😪",
  "autoPresence": false,
  "firstChat": false,
  "autoPresenceType": "composing",
  "public": false
}