{
  "botName": "wsr-bot",
  "ownerName": "Irwan",
  "owner": ["628882611841"],
  "sourceCode": "https://github.com/irwanx/whatsapp-status-reader",
  "prefix": "^[°•π÷×¶∆£¢€¥®™+✓_=|/~!?@#%^&.©^]",
  "ephemeral": 86400,
  "autoReadStory": true,
  "autoReactStory": true,
  "reactEmote": "😆🐊😭😪",
  "autoPresence": false,
  "autoPresenceType": "composing",
  "thumbnailUrl": "https://www.irwanx.my.id/static/android-chrome-512x512.png",
  "linkFakeUrl": "https://www.irwanx.my.id",
  "publicMode": false
}
